<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mapnik.x64" version="2.1.0" targetFramework="net451" userInstalled="true" />
  <package id="TileCook" version="0.1.0" targetFramework="net451" userInstalled="true" />
  <package id="TileProj" version="0.1.0" targetFramework="net451" userInstalled="true" />
</packages>